# **Pandas** üêº

### **Puzzle 1**
Import `pandas` as `pd` and verify the version.

In [1]:
import pandas as pd

print(pd.__version__)

2.2.2

### **Puzzle 2**
Create a `DataFrame` from a dictionary.

In [2]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

### **Puzzle 3**
Import a CSV file into a `DataFrame`.

In [5]:
df_csv = pd.read_csv(r"datasets//cars.csv")

df_csv.head(3)

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597

In [ ]:
# Feel free to code ...